/* Styling the container */
.center-block {
    float: none;
    display: block;
    margin: 0 auto;
}

.map_container {
    width: 100%;
    height: 500px;
}

/* text formating */
.emptyText {
    text-align: center;
    color: #a8a8a8;
    font-size: 20px;
    padding-top: 120px;
}

.capitalize {
    text-transform: capitalize;
}

.chart-title-md {
    color: #666;
    font-size: 2.0rem;
    font-weight: 370;
    padding: 7px 10px 4px;
    text-align: center;
}

/* Leaflet extended CSS */
.custom-popup .leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: #fff;
    font-size: 15px;
    line-height: 10px;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}

.custom-popup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}

.custom-popup .leaflet-popup-tip {
    border-left: 15px solid #2c3e50;
    border-right: 15x solid #2c3e50;
    border-top: 15px solid #2c3e50;
}
